<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ahuang.viewandgroup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ViewMeasureActivity">
        </activity>
        <activity android:name=".viewmeasure.MeasureViewActivity">
        </activity>
        <activity android:name=".activity.DrawActivity">
        </activity>
        <activity android:name=".activity.CanvasOperationActivity">
        </activity>
        <activity android:name=".activity.DrawPathActivity">
        </activity>
        <activity android:name=".activity.BazierActivity">
        </activity>
        <activity android:name=".activity.CustomViewBasicActivity">
        </activity>
        <activity android:name=".activity.CustomViewActivity">
        </activity>
    </application>

</manifest>